<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>codeGroupXdmList</title>
</head>
<body>
	<form method="post" action="codeGroupUpdate">
		<input type="text" name="seq" th:value=${oneList.seq}>
		<br>
	  	<input type="text" name="codeType" th:value=${oneList.codeType}>
	  	<br>
	  	<button>저장</button>
	</form>
	
	<form method="post" action="updateDeleteNy">
	  	<input type="text" name="seq" th:value=${oneList.seq}>
	  	<br>
	  	<button>변경</button>
	</form>
	
	<form method="post" action="delete">
	  	<input type="text" name="seq" th:value=${oneList.seq}>
	  	<br>
	  	<button>삭제</button>
	</form>
</body>
</html>