<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>codeXdmList</title>
</head>
<body>
 	<table>
 		<a th:href="@{/codeRegistration}">등록</a>
 		<tr>
 			<td>체크박스</td>
 			<td>#</td>
 			<td>codeGroupseq</td>
			<td>codeType</td>
			<td>deleteNy</td>
			<td>seq</td>
			<td>codeName</td>
			<td>registration</td>
 		</tr>

 		<tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
			<td></td>
			<td></td>
			<td th:text="${list.groupseq}"></td>
			<td th:text="${list.codeType}"></td>
			
			<td th:if="${list.deleteNy eq 0}">N</td>
			<td th:unless="${list.deleteNy eq 0}">Y</td> 			
 			<td th:text="${list.seq}"></td>
 			<td> <a th:href="@{/codeView(seq=${list.seq},codeName=${list.codeName})}" th:text="${list.codeName}"></a></td>
 			<th th:text="${#dates.format(list.registration, 'yyyy/MM/dd HH:mm:ss')}"></th>
 		</tr>
 	</table>
  
</body>
</html>