<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>codeGroupXdmList</title>
</head>
<body>
	<a th:href="@{/codeGroupRegistration}">등록</a>
 	<table>
 		<tr>
 			<td>ch</td>
 			<td>#</td>
 			<td>deleteNy</td>
 			<td>seq</td>
			<td>codeType</td>
			<td>xseqCount</td>
			<td>registration</td>
			
			
 		</tr>

 		<tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
			<td></td>
			<td></td>
			<!-- <td th:text="${list.deleteNy}"></td> -->
			<td th:if="${list.deleteNy eq 0}">N</td>
			<td th:unless="${list.deleteNy eq 0}">Y</td>	
 			<td th:text="${list.seq}"></td> 	
 			<td> <a th:href="@{/codeGroupView(seq=${list.seq},codeType=${list.codeType})}" th:text="${list.codeType}"></a></td>
 			<!-- <td th:text="${list.codeType}"></td> -->
 			<td th:text="${list.xseqCount}"></td>
 			<th th:text="${#dates.format(list.registration, 'yyyy/MM/dd HH:mm:ss')}"></th>
 		</tr>
 	</table>
  
</body>
</html>